v-row
    template(v-for="category in getProducts")
        template(v-for="brand in category.brands")
            v-col(md="4" lg="3" v-for="(product, i) in brand.items" :key="product.id")
                product(:product="product")

    v-snackbar(v-model="snackbar.visible" :color="snackbar.color" :timeout="1800" top right) {{ snackbar.message }}
        v-btn(color="black" text @click="snackbar.visible = false") Close