v-dialog(v-model="dialog" @click:outside="closeModal" max-width="900px")
    v-card
        v-card-title.headline Brand Modal
        v-card-text Lorem ipsum dolor sit amet.
        v-card-actions
            .flex-grow-1
            v-btn(color="green darken-1" @click="closeModal") Disagree
            v-btn(color="green darken-1" @click="closeModal") Agree