v-dialog(v-model="dialog" @click:outside="closeModal" max-width="900px" @keydown.escape="closeModal")
    v-card
        v-card-title.headline Brand Dialog
        v-card-text
            v-text-field(label="Category Title" v-model="brand.title")
            v-text-field(label="Category Order" disabled v-model="brand.order")
        v-card-actions
            .flex-grow-1
            v-btn(color="red darken-1" @click="closeModal") Close
            v-btn(color="green darken-1" @click="insertNewBrand") Submit