v-container
    v-row
        v-col(lg="12")
            v-list.mx-auto(max-width="850px")
                v-list-group(v-for="(category, a) in getProducts" :key="a")
                    template(v-slot:activator)
                        v-list-item-title {{ category.title }}
                        v-list-item-action
                            v-btn(icon small color="blue")
                                v-icon(small) mdi-pencil
                            v-btn(icon small color="red")
                                v-icon(small) mdi-delete
                    v-list-group(no-action sub-group v-for="(brand, b) in category.brands" :key="b")
                        template(v-slot:activator)
                            v-list-item-content
                                v-list-item-title {{ brand.title }}
                            v-list-item-action
                                v-btn(icon small color="blue")
                                    v-icon(small) mdi-pencil
                                v-btn(icon small color="red")
                                    v-icon(small) mdi-delete
                        v-list-item(v-for="(item, c) in brand.items" :key="c" link)
                            v-list-item-title {{ item.title }}
                            v-list-item-action
                                v-btn(icon small color="blue")
                                    v-icon(small) mdi-pencil
                                v-btn(icon small color="red")
                                    v-icon(small) mdi-delete
                        v-list-item
                            v-list-item-title
                                v-btn(color="success" @click.stop="modals.item = true") Add New Item
                    v-list-item
                            v-list-item-title
                                v-btn(color="success" @click.stop="modals.brand = true") Add New Brand
                v-list-item
                    v-list-item-title
                        v-btn(color="success" @click.stop="modals.category = true, category.count = getProducts.length") Add New Category
    category-modal(:dialog="modals.category" :category="category")
    brand-modal(:dialog="modals.brand")
    item-modal(:dialog="modals.item")

//- v-expansion-panels(accordion)
//-     v-expansion-panel(v-for="(category, a) in getProducts" :key="a")
//-         v-expansion-panel-header {{ category.title }}
//-         v-expansion-panel-content
//-             v-expansion-panels(accordion)
//-                 v-expansion-panel(v-for="(brand, b) in category.brands" :key="b")
//-                     v-expansion-panel-header {{ brand.title }}
//-                     v-expansion-panel-content
//-                         v-expansion-panels(accordion)
//-                             v-expansion-panel(v-for="(item, c) in brand.items" :key="b")
//-                                 v-expansion-panel-header {{ item.title }}
//-                                 v-expansion-panel-content