v-container
    v-row
        v-col(lg="12")
            v-list.mx-auto(max-width="850px")
                v-list-group(v-for="(category, a) in getProducts" :key="a")
                    template(v-slot:activator)
                        v-list-item-title {{ category.title }}
                        v-list-item-action
                            v-btn(icon small color="blue" @click.stop="editCategory(category)")
                                v-icon(small) mdi-pencil
                            v-btn(icon small color="red" @click.stop="deleteCategory(category)")
                                v-icon(small) mdi-delete
                    v-list-group(no-action sub-group v-for="(brand, b) in category.brands" :key="b")
                        template(v-slot:activator)
                            v-list-item-content
                                v-list-item-title {{ brand.title }}
                            v-list-item-action
                                v-btn(icon small color="blue" @click="editBrand(brand)")
                                    v-icon(small) mdi-pencil
                                v-btn(icon small color="red" @click.stop="deleteBrand(brand)")
                                    v-icon(small) mdi-delete
                        v-list-item(v-for="(item, c) in brand.items" :key="c" link)
                            v-list-item-title {{ item.title }}
                            v-list-item-action
                                v-btn(icon small color="blue" @click.stop="editItem(item)")
                                    v-icon(small) mdi-pencil
                                v-btn(icon small color="red" @click.stop="deleteItem(item)")
                                    v-icon(small) mdi-delete
                        v-list-item
                            v-list-item-title
                                v-btn(color="success" @click.stop="triggerItemModal(brand.items.length, brand.id)") Add New Item
                    v-list-item
                            v-list-item-title
                                v-btn(color="success" @click.stop="triggerBrandModal(category.brands.length, category.id)") Add New Brand
                v-list-item
                    v-list-item-title
                        v-btn(color="success" @click.stop="triggerCategoryModal") Add New Category
    category-modal(:dialog="modals.category" :category="category" :create="create")
    brand-modal(:dialog="modals.brand" :brand="brand" :create="create")
    item-modal(:dialog="modals.item" :item="item" :create="create")

//- v-expansion-panels(accordion)
//-     v-expansion-panel(v-for="(category, a) in getProducts" :key="a")
//-         v-expansion-panel-header {{ category.title }}
//-         v-expansion-panel-content
//-             v-expansion-panels(accordion)
//-                 v-expansion-panel(v-for="(brand, b) in category.brands" :key="b")
//-                     v-expansion-panel-header {{ brand.title }}
//-                     v-expansion-panel-content
//-                         v-expansion-panels(accordion)
//-                             v-expansion-panel(v-for="(item, c) in brand.items" :key="b")
//-                                 v-expansion-panel-header {{ item.title }}
//-                                 v-expansion-panel-content