v-card.mx-auto
    v-list-item
        v-list-item-content
            v-list-item-title.headline Product Title
    v-img(src="https://dummyimage.com/600x400/000/fff.png")
    v-card-text Lorem ipsum dolor sit amet.
    v-card-actions
        v-btn(color="red lighten-1" block @click="addToCart")
            v-icon(left) mdi-cart-plus
            | Add to Cart