div
    div(v-if="items" v-for="item in getCart")
        p {{ item.title }} - {{ item.quantity }}
        v-btn(color="red" small @click="reduceQuantity(item)")
            v-icon(small) mdi-minus
        v-btn(color="blue" small @click="increaseQuantity(item)")
            v-icon(small) mdi-plus